@{
    ViewBag.Title = "About";
}
<br />
<form method="get">

    <fieldset>
        Select Genre: <select id="MovieType" name="MovieType" class="form-control">

            <option value=""></option>

            <option value="0">Action</option>

            <option value="1">Drama</option>

            <option value="2">Comedy</option>

            <option value="3">Science Fiction</option>

            <option value="4">Horror</option>

            <option value="5">Mystery</option>

            <option value="6">Thriller</option>


        </select>

    </fieldset>

</form>