@using MvcStock.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLCATEGORY>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CATEGORY ID</th>
        <th>CATEGORY NAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach (var ctgry in Model)
        {
            <tr>
                <th>@ctgry.CATEGORYID</th>
                <td>@ctgry.CATEGORYNAME</td>
                <td> <a href="/CATEGORY/DELETE/@ctgry.CATEGORYID" class="btn btn-danger"> DELETE </a> </td>
                <td> <a href="/CATEGORY/GetCategory/@ctgry.CATEGORYID" class="btn btn-success"> UPDATE</a> </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<a href="/CATEGORY/NewCategory/" class="btn btn-primary">ADD NEW CATEGORY</a>

